<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mocha17.slayer"
    android:versionCode="9"
    android:versionName="1.5.0" >

    <!-- KITKAT to LOLLIPOP_MR1 -->
    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="22"
        android:maxSdkVersion="22"/>

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="com.mocha17.slayer.SlayerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.mocha17.slayer.setup.SetupActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.mocha17.slayer.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.mocha17.slayer.AboutActivity"
            android:label="@string/about"
            android:excludeFromRecents="true"
            android:parentActivityName="com.mocha17.slayer.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- stopWithTask - stop this Service when the Task is removed -->
        <service
            android:name="com.mocha17.slayer.notification.NotificationListener"
            android:exported="false"
            android:stopWithTask="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <service
            android:name="com.mocha17.slayer.communication.WearDataSender"
            android:exported="false">
            <intent-filter>
                <action android:name="com.mocha17.slayer.ACTION_MSG_START_SHAKE_DETECTION" />
            </intent-filter>
        </service>

        <service
            android:name="com.mocha17.slayer.communication.WearDataReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

        <service
            android:name="com.mocha17.slayer.tts.JorSayReader"
            android:exported="false">
            <intent-filter>
                <action android:name="com.mocha17.slayer.ACTION_MSG_START_READ_ALOUD" />
            </intent-filter>
        </service>

        <receiver android:name=".notification.db.NotificationDBCleaner">
            <intent-filter>
                <action android:name="com.mocha17.slayer.notification.db.NotificationDBCleaner" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
