<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mocha17.slayer"
    android:versionCode="7"
    android:versionName="1.0.0" >

    <!-- KITKAT to LOLLIPOP_MR1 -->
    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="22"
        android:maxSdkVersion="22"/>

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault" >

        <!-- For supporting ambient mode -->
        <uses-library android:name="com.google.android.wearable" android:required="false" />

        <!-- android:label attribute is used for 'start' voice command.
        For JorSay, user would say 'Start notification reader'. -->
        <activity
            android:name="com.mocha17.slayer.WearMainActivity"
            android:label="@string/voice_action_read_aloud" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.mocha17.slayer.trigger.ShakeDetector"
            android:exported="false">
            <intent-filter>
                <action android:name="com.mocha17.slayer.ACTION_START_SHAKE_DETECTION" />
            </intent-filter>
        </service>

        <service
            android:name=".communication.MobileDataSender"
            android:exported="false">
            <intent-filter>
                <action android:name="com.mocha17.slayer.ACTION_MSG_READ_ALOUDD" />
            </intent-filter>
        </service>

        <service
            android:name=".communication.MobileDataReceiver">
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>

    </application>
</manifest>
